.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f6d66b;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  color: #1c1c1c;
}



.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
}

.menu {
  font-size: 22px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

/* LEFT */
.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 64px;
  font-weight: 900;
  color: #1c1c1c;
  line-height: 1.1;
}

.hero-left p {
  margin-top: 20px;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.btn {
  margin-top: 30px;
  padding: 12px 28px;
  border: 2px solid #ff6b6b;
  background: transparent;
  border-radius: 30px;
  font-size: 16px;
  color: #ff6b6b;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ff6b6b;
  color: white;
}

/* RIGHT IMAGE */
.hero-right img {
  width: 400px;
  object-fit: contain;
} 

#img {
  background-color: #f6d66b  ;
}
Link{
  text-underline-offset: none;
  text-underline-position: none;
  -ms-text-underline-position: none ;
}